html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 380px;
  min-height: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}
.main-menu {
  margin: 0;
  padding: 0;
  width: 200px;
}
.main-menu>li {
 position: relative; 
}
.main-menu .sub-menu {
position: absolute;
z-index: 10;
left: 180px;
top: 0;
margin: 0;
padding: 0;
list-style: none;
display: none;
width: 200px;
background-color: #1abc9c;
}
.main-menu .sub-menu>li {
 padding: 10px 15px; 
 border-bottom: 2px solid #2ecc71; 
}
.main-menu .open .sub-menu {
 display: block;
}
.main-menu .sub-menu a {
 
}

.main-menu>li {
  padding: 10px 15px;
 background-color: #2980b9;
 border-bottom: 2px solid #2c3e50;
}
.main-menu .open {
  background-color: #1abc9c;
}
a {
 text-decoration: none;
 color: white;
}