a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  border: 20px solid #0074d9;
  border-right-width: 10px;
  border-right-color: transparent;
  border-left-width: 10px;
  border-left-color: transparent;
  content: "";
  display: inline-block;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}
/*А сейчас давайте посмотрим, как изученные ранее треугольники используются в реальных задачах.

Самый очевидный пример — иконки сортировки в каталогах товаров: треугольники, направленные вверх и вниз.

Почему их выгодно делать с помощью рамок? Потому что CSS-стрелкам можно легко менять пропорции, задавать разные цвета и размеры, а это очень гибко.

Обычно управляющие элементы для сортировки размечают с помощью ссылок. Мы поступим так же: внутри ссылки будет поясняющий текст, а в стрелку превратим псевдоэлемент ссылки.

Псевдоэлементам .arrow::before:

Задайте сплошную рамку толщиной 20px и цветом #0074d9.
Затем измените толщину правой и левой сторон рамки на 10px.
Затем сделайте правую и левую стороны рамки прозрачными.

Теперь добавим дополнительные классы arrow-up и arrow-down, которые будут обозначать направление стрелки вверх и вниз.

Для стрелки вверх нужно будет убрать верхнюю рамку у псевдоэлемента, а у стрелки вниз — нижнюю рамку. Чтобы стрелки вели себя в потоке, как текст, зададим псевдоэлементам блочно-строчный тип.

И последним шагом скроем текст подписи у ссылки, для этого просто зададим нулевой размер шрифта.

Есть и более сложный вариант стрелок для сортировки: когда у каждого параметра создаются сразу две стрелки. Этот вариант делается схожим образом, но для создания стрелок используются оба псевдоэлемента: и ::before, и ::after.
Для .arrow-down::before обнулите толщину нижней рамки,
затем для .arrow-up::before обнулите толщину верхней рамки.
Для .arrow::before задайте свойство display: inline-block
а затем самим ссылкам .arrow обнулите размер шрифта.*/